


body{
   width: 357px;
   background-color:rgba(255, 192, 203, 0.425);
   text-align: center;
   margin: 1rem auto;}
/* style of image*/
.img  {
  background-image: url(./image-product-desktop.jpg);
   width: 356px;
    height:400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -90px;
    
  
 }
 



div{
   background-color: white;
   border-radius: 7px;

}

/* style of the text*/
.dor{ font-size: 18px;
  padding: 0 11px;
  text-align: left;
  color:rgba(0, 0, 0, 0.5) ;
}
h1{
   
   text-align: left;
   padding: 10px;
   font-size: 30px;
   word-spacing: 10px;
}

.sec{
color: green;
display: inline-block;
font-size: 30px;
margin-bottom: 20px;

}
.dor{
    display:inline-flex;
    font-size: 16px;
    text-decoration: line-through;
    

}
  /* style of the link*/
.link {
    display: inline-block;
    text-decoration: none;
text-align: center;
color: aliceblue;
  background-color: rgb(98, 146, 98);
  padding: 10px 100px;
border: 2px solid ;
border-radius: 9px;
margin-bottom: 20px;
}
a:hover{
    color:aliceblue;
    background-color: blueviolet;
}

/* style for destop 
for responsiveness
*/


@media screen and (min-width:992px){


  div{
   
   border-radius: 7px;
   height: fit-content;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   place-content: center;
   width: 600px;
   height: 600px;
   text-align: center;
   margin: 0 auto;
   
 }
 
.img{
  background-image: url(./image-product-desktop.jpg);
    width:350px;
    height:600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    margin: 0;
  
  
    
  
 }
 
  p , h1{
    padding-right: 70px;
    max-width: 200px;
    display: flex;
  }   
 
  
  .sec{
    padding-right: 0px;
    display: flex;
    width: auto;
  }
 .two{
   padding-left: 16px;
   width: 260px;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
    align-items: center;

  }

  .link {
    padding: 7px 70px;
    text-align: center;
    
    
  }




}








